{% extends 'base.html' %}
{% block head %}
  <title>Login</title>
  <meta name="keywords" content="puzzle, online, klueless, IIM Indore, recaptured, Amit Sharma">
  <meta name="description" content="Let's play!">
{% endblock %}

{% block content %}
    <h1>Klues &amp; Klues</h1>
    <h4>You must identify yourself to be able to play!</h4>
    <p><i>We don't use your personal data in any form for any commercial purposes. Promise!</i></p>

  <div class="col-8">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Play</button>
    </form>
  </div>
  <div class="col-8">
    <a href="/oauth"><button>Login with Gmail</button></a>
  </div>
  <div class="col-8">
    <h2>About The Game</h2>
    <p>This is an online puzzle. To access the game, please login or register.</p>
    <p><a href="/content/privacy-policy/">Privacy Policy</a></p>
  </div>

{% endblock %}