{% extends 'base.html' %}
{% block head %}

  <title>Login</title>
  <meta name="google-signin-client_id" content="229307573843-cru37f5c2fac4nqsh0nh98e7v2ql9pc7.apps.googleusercontent.com">
{% endblock %}

{% block content %}
    <h1>Klues &amp; Klues</h1>
    <h4>You must identify yourself to be able to play!</h4>
    <p><i>We don't use your personal data in any form for any commercial purposes. Promise!</i></p>

  <div class="col-8">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      
      
      <a href="{% url 'google_login' %}">Sign in with Google</a>
    </form>
  </div>
  
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    alert(profile.getId());
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    var id_token = googleUser.getAuthResponse().id_token;
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
  function GsignOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
{% endblock %}